fritz.ioui.eu {
	reverse_proxy 10.0.42.1:80
		tls {
		dns hetzner {env.HETZNER_DNS_TOKEN}
	}
}
fritz7272.ioui.eu {
	reverse_proxy 10.0.42.10:80
		tls {
		dns hetzner {env.HETZNER_DNS_TOKEN}
	}
}
fritz7170.ioui.eu {
	reverse_proxy 10.0.42.11:80
		tls {
		dns hetzner {env.HETZNER_DNS_TOKEN}
	}
}
kuma.ioui.eu {
	reverse_proxy kuma_app_1:3001
		tls {
		dns hetzner {env.HETZNER_DNS_TOKEN}
	}

}
portainer-xenon.ioui.eu {
	reverse_proxy system_app_1:9000
		tls {
		dns hetzner {env.HETZNER_DNS_TOKEN}
	}

}
pihole.ioui.eu {
	redir / /admin/
	reverse_proxy pihole_app_1:80
		tls {
		dns hetzner {env.HETZNER_DNS_TOKEN}
	}
}
bookstack.ioui.eu {
	reverse_proxy bookstack_app_1:8080
		tls {
		dns hetzner {env.HETZNER_DNS_TOKEN}
	}
}
it-tools.ioui.eu {
	reverse_proxy it-tools_app_1:80
		tls {
		dns hetzner {env.HETZNER_DNS_TOKEN}
	}
}
searx.ioui.eu {
	reverse_proxy searx_app_1:8080
		tls {
		dns hetzner {env.HETZNER_DNS_TOKEN}
	}
}
grafana.ioui.eu {
	reverse_proxy grafana_app_1:3000
		tls {
		dns hetzner {env.HETZNER_DNS_TOKEN}
	}
}
influxdb.ioui.eu {
	reverse_proxy grafana_db_1:8086
		tls {
		dns hetzner {env.HETZNER_DNS_TOKEN}
	}
}
test.ioui.eu {
	reverse_proxy  jetddnsnet_umami_1:3000
		tls {
		dns hetzner {env.HETZNER_DNS_TOKEN}
	}
}
pdf-tools.ioui.eu {
	reverse_proxy pdf-tools_app_1:8080
		tls {
		dns hetzner {env.HETZNER_DNS_TOKEN}
	}
}
invidious.ioui.eu {
	reverse_proxy invidious_app_1:3000
		tls {
		dns hetzner {env.HETZNER_DNS_TOKEN}
	}
}
fritz7390.ioui.eu {
	reverse_proxy 10.0.42.12:80
		tls {
		dns hetzner {env.HETZNER_DNS_TOKEN}
	}
}
