/* Glass button styles */
.glass-button {
    display: inline-block;
    margin-bottom: 0.3rem;
    padding: 0.75em 1em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0);
    color: black;
}

.glass-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}

/* Centerd Glass button styles */
.cglass-button {
    display: block;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.75em 1em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    text-align: center;
    max-width: 20rem;
}

.cglass-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}

/* Colors for Buttons */

#red:hover {
    background-color: rgba(255, 0, 0, 0.2);
    box-shadow: 0 0 2rem rgba(255, 0, 0, 0.2);
}
#orange:hover {
    background-color: rgba(255, 127, 0, 0.2);
    box-shadow: 0 0 2rem rgba(255, 127, 0, 0.2);
}
#yellow:hover {
    background-color: rgba(222, 255, 0, 0.2);
    box-shadow: 0 0 2rem rgba(222, 255, 0, 0.2);
}
#neon-green:hover {
    background-color: rgba(55, 255, 0, 0.2);
    box-shadow: 0 0 2rem rgba(55, 255, 0, 0.2);
}
#green:hover {
    background-color: rgba(0, 255, 66, 0.2);
    box-shadow: 0 0 2rem rgba(0, 255, 66, 0.2);
}
#turquoise:hover {
    background-color: rgba(0, 255, 255, 0.2);
    box-shadow: 0 0 2rem rgba(0, 255, 255, 0.2);
}
#blue:hover {
    background-color: rgba(0, 44, 255, 0.2);
    box-shadow: 0 0 2rem rgba(0, 44, 255, 0.2);
}
#purple:hover {
    background-color: rgba(127, 0, 255, 0.2);
    box-shadow: 0 0 2rem rgba(127, 0, 255, 0.2);
}