/* Glass button styles */
.glass-button {
    text-decoration: none;
    display: inline-block;
    max-width: 4rem;
    max-height: 4rem;
    height: 3.5rem;
    width: 3.5rem;
    font-size: 0.8em;
    margin: 0.3rem;
    margin-bottom: 0;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    color: var(--color-text-gb);
    box-shadow: 
        -0.7rem -0.7rem 1rem var(--color-menu-sl),
        0.7rem 0.7rem 1rem var(--color-menu-sd);
}

.glass-button:hover {
    transform: scale(0.985);
    background-color: var(--color-menu);
    box-shadow: 
        0px 0px 0px var(--color-menu-sl),
        0px 0px 0px var(--color-menu-sd),
        inset -0.5rem -0.5rem 0.5rem var(--color-menu-sl),
        inset 0.5rem 0.5rem 0.5rem var(--color-menu-sd);
}

.glass-button img {
    max-width: 100%;
    max-height: 2rem;
}

/* S Glass button styles */
.sglass-button {
    overflow: hidden;
    text-decoration: none;
    display: inline-block;
    max-width: 4rem;
    max-height: 4rem;
    height: 3.5rem;
    width: 3.5rem;
    margin-left: 0.12rem;
    margin-right: 0.12rem;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    color: var(--color-text-sgb);
    background-color: var(--color-desciption);
    font-size: 0.8em;
    box-shadow: 
        -0.7rem -0.7rem 1rem var(--color-description-sl),
        0.7rem 0.7rem 1rem var(--color-description-sd);
}

.sglass-button:hover {
    transform: scale(0.985);
    box-shadow: 
        0px 0px 0px var(--color-description-sl), 
        0px 0px 0px var(--color-description-sd),
        inset -0.5rem -0.5rem 0.5rem var(--color-description-sl),
        inset 0.5rem 0.5rem 0.5rem var(--color-description-sd);
}

.sglass-button img {
    max-width: 100%;
    max-height: 2rem;
}

/* Colors for Buttons */
/*
#red:hover {
    background-color: rgba(255, 0, 0, 0.2);
    box-shadow: 0 0 2rem rgba(255, 0, 0, 0.2);
}
#orange:hover {
    background-color: rgba(255, 127, 0, 0.2);
    box-shadow: 0 0 2rem rgba(255, 127, 0, 0.2);
}
#yellow:hover {
    background-color: rgba(222, 255, 0, 0.2);
    box-shadow: 0 0 2rem rgba(222, 255, 0, 0.2);
}
#neon-green:hover {
    background-color: rgba(55, 255, 0, 0.2);
    box-shadow: 0 0 2rem rgba(55, 255, 0, 0.2);
}
#green:hover {
    background-color: rgba(0, 255, 66, 0.2);
    box-shadow: 0 0 2rem rgba(0, 255, 66, 0.2);
}
#turquoise:hover {
    background-color: rgba(0, 255, 255, 0.2);
    box-shadow: 0 0 2rem rgba(0, 255, 255, 0.2);
}
#blue:hover {
    background-color: rgba(0, 44, 255, 0.2);
    box-shadow: 0 0 2rem rgba(0, 44, 255, 0.2);
}
#purple:hover {
    background-color: rgba(127, 0, 255, 0.2);
    box-shadow: 0 0 2rem rgba(127, 0, 255, 0.2);
}*/