{
    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}
https://titanite.home.arpa {
    header Strict-Transport-Security max-age=31536000;
    reverse_proxy http://titanite.home.arpa:11000
}
